<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>

    <!-- title -->
    <title>Home</title>
    <!-- /title -->

    <!-- 페이지 CSS 영역 -->
    <th:block layout:fragment="userStyle">
        <style>
        </style>
    </th:block>
    <!-- /페이지 CSS 영역 -->

</head>

<body>

    <!-- content title -->
    <div class="title_left" layout:fragment="contentTitle">
        <h3>Home</h3>
    </div>
    <!-- /content title -->


    <!-- content body -->
    <div class="col-md-12 col-sm-12 col-xs-12" layout:fragment="contentBody">
        <h2>Home</h2>
    </div>
    <!-- /content body -->


    <!-- 페이지 스크립트 영역 -->
    <th:block layout:fragment="userScript">
        <script>
        </script>
    </th:block>
    <!-- /페이지 스크립트 영역 -->

</body>
</html>