<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>

    <!-- title -->
    <title th:text="${pageTitle}"></title>
    <!-- /title -->

    <!-- 페이지 CSS 영역 -->
    <th:block layout:fragment="userStyle">
        <style>
        </style>
    </th:block>
    <!-- /페이지 CSS 영역 -->

</head>

<body>

    <!-- content title -->
    <div class="title_left" layout:fragment="contentTitle">
        <h3 th:text="${pageTitle}"></h3>
    </div>
    <!-- /content title -->


    <!-- content body -->
    <div class="col-md-12 col-sm-12 col-xs-12" layout:fragment="contentBody">
        <h2 th:text="${pageTitle}"></h2>
        
        <form method="post">
            <div class="form-group">
                <input type="text" id="name" name="name" placeholder="이름을 입력해주세요"/>
                <button type="submit">제출</button>
            </div>
        </form>

        <h2>입력 결과</h2>
        <div th:text="${name}"></div>
    </div>
    <!-- /content body -->


    <!-- 페이지 스크립트 영역 -->
    <th:block layout:fragment="userScript">
        <script>
        </script>
    </th:block>
    <!-- /페이지 스크립트 영역 -->

</body>
</html>