<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>

    <!-- title -->
    <title th:text="${pageTitle}"></title>
    <!-- /title -->
    
    <!-- 페이지 CSS 영역 -->
    <th:block layout:fragment="userStyle">
        <style>
        </style>
    </th:block>
    <!-- /페이지 CSS 영역 -->
</head>

<body>
  
    <!-- content title -->
    <div class="title_left" layout:fragment="contentTitle">
        <h3 th:text="${pageTitle}"></h3>
    </div>
    <!-- /content title -->

    <!-- content body -->
    <div class="col-md-12 col-sm-12 col-xs-12" layout:fragment="contentBody">
      <p>grid.js 로 채울예정</p>
    </div>

  </div>
  <!-- /content body -->

    <!-- 사용자 script -->
    <th:block layout:fragment="userScript">
      <!-- Chart.js -->
    </th:block>
    <!-- /script -->
</body>
</html>