<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>

    <!-- title -->
    <title>매출처별 매출현황</title>
    <!-- /title -->
    
    <!-- 페이지 CSS 영역 -->
    <th:block layout:fragment="userStyle">
        <style>
        </style>
    </th:block>
    <!-- /페이지 CSS 영역 -->
</head>

<body>
  
    <!-- content title -->
    <div class="title_left" layout:fragment="contentTitle">
        <h3>매출처별 매출현황</h3>
    </div>
    <!-- /content title -->

    <!-- content body -->
    <div class="col-md-12 col-sm-12 col-xs-12" layout:fragment="contentBody">
      <div class="row">
        <!-- 라인 그래프 -->
        <div class="col-md-6 col-sm-6  ">
          <div class="x_panel">
            <div class="x_title">
              <h2>매출처별 매출현황<small>(단위: 천원)</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Settings 1</a>
                      <a class="dropdown-item" href="#">Settings 2</a>
                    </div>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <canvas id="mybarChart"></canvas>
            </div>
          </div>
        </div>
        
      </div>      
      <!--2행-->
      <div class="row"></div>
      <!--3행-->
      <div class="row"></div>
    </div>

  </div>
  <!-- /content body -->

    <!-- 사용자 script -->
    <th:block layout:fragment="userScript">
      <!-- Chart.js -->
      <script th:src="@{Chart.min.js}"></script>
    </th:block>
    <!-- /script -->

</body>
</html>